<% if cached %>
  <p>CACHED!</p>
<% end %>

<p>Current Weather:</p>
<p>As of: <%= weather_data.dt.in_time_zone("MST").strftime("%l:%M %p %Z") %></p>
<p><%= location.city.presence || weather_data.name %>, <%= (location.state_code.presence || location.state.presence || location.country_code.presence || location.country) %></p>
<p>Temp: <%= weather_data.main.temp.round %></p>
<p>Feels like: <%= weather_data.main.feels_like.round %></p>
<p>High: <%= weather_data.main.temp_max.round %></p>
<p>Low: <%= weather_data.main.temp_min.round %></p>
<p>Humidity: <%= weather_data.main.humidity.round %></p>
<p>Pressure: <%= weather_data.main.pressure.round %></p>
<p>Sunrise: <%= weather_data.sys.sunrise.in_time_zone(weather_data.timezone).strftime("%l:%M %p %Z") %></p>
<p>Sunset: <%= weather_data.sys.sunset.in_time_zone(weather_data.timezone).strftime("%l:%M %p %Z") %></p>
<% direction_table = ["N", "NNE", "NE", "ENE", "E", "ESE", "SE", "SSE", "S", "SSW", "SW", "WSW", "W", "WNW", "NW", "NNW", "N"] %>
<% wind_direction = direction_table[((weather_data.wind.deg + 11.25)/22.5).floor] %>
<p>Wind: <%= wind_direction %> <%= weather_data.wind.speed.round %> mph</p>
<p>Weather: <%= weather_data.weather.first.main %></p>
<div class="flex items-center">
  <span>Icon:</span>
  <img class="scale-150" src="<%= weather_data.weather.first.icon_uri %>" alt="<%= weather_data.weather.first.description %>" />
</div>
